<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Pipackagernet" value="https://pipepper.pkgs.visualstudio.com/_packaging/Pipackagernet/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <your-feed-name>
      <add key="Username" value="itaujenkins" />
      <add key="ClearTextPassword" value="Pipepper#123" />
    </your-feed-name>
  </packageSourceCredentials>
</configuration>